:root {
    /*Fonts*/
    --poppins: 'Poppins', sans-serif;
    --lexend: 'Lexend Exa', sans-serif;
    --dancing: 'Dancing Script', cursive;
    --montserrat: 'Montserrat Alternates', sans-serif;

    /*Colors*/
    --primary: #2F4858;
    --secondary: #ED3855;
    --third: #DFF0FD;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

*:not([class="vector"]) {
    z-index: 5;
}

body {
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/*globales*/
.container {
    max-width: 90rem;
    width: 95%;
    margin: auto;
}

.min-container {
    max-width: 80rem;
    width: 95%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    font-family: var(--poppins);
    font-size: .8em;
    text-decoration: none;
    border-radius: 50px;
}

@media (min-width: 768px) {
    .btn {
        padding: .9rem 2rem;
        font-size: 1em;;
    }
}

.btn-primary {
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: #fff;
}

.btn-secondary {
    border: 2px solid var(--third);
    color: var(--third);
}

/*HEADER*/
header {
    background: #2896E5;
    height: 100vh;
    position: relative;
}

.bar {
    display: flex;
    align-items: center;
    height: 10vh;
}

/*logo*/
.logo-container {
    flex: 1;
}

.logo {
    font-family: var(--dancing);
    font-size: 2em;
    color: #fff;
}

/*nav*/
nav {
    flex: 2;
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-item {
    font-family: var(--poppins);
    color:#fff;;
}

/*cart*/
.cart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.cart-container {
    position: relative;
}

.cart-container img {
    max-width: 35px;
}

.cart-quantity {
    background: crimson;
    padding: 0 .4rem;
    border-radius: 100px;
    position: absolute;
    bottom: 50%;
    right: 30%;
    transform: translate(50%, 50%);
}

#products-number {
    font-family: var(--poppins);
    font-size: .8em;
    color: #fff;
}

/*landing*/
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

@media (min-width: 768px) {
    .landing {
        flex-direction: row;
    }
}

/*left side*/
.introduction {
    flex-basis: 60%;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .introduction {
        text-align: left;
        margin-bottom: 0;
    }
}

.intro-text h1 {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1rem;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    font-family: var(--poppins);
    font-size: 1em;
    color: #fff;
    margin-bottom: 2rem;
}

@media (min-width: 760px) {
    .intro-text h1 {
        font-size: 3em;
    }

    .intro-text p {
        font-size: 1.2em;
    }
}

.cta a:first-of-type{
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .cta a:first-of-type{
        margin-right: 2rem;
    }
}

.cta a i {
    margin-left: .5rem;
}

/*right side*/
.presentation {
    flex-basis: 40%;
}

.cover {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(3px 5px 9px rgb(0, 0, 0, 0.8));
}

@media (min-width: 768px) {
    .cover {
        height: 80vh;
    }
}

/*landing-footer*/
.vector1, .vector2, .vector3 {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.vector1 {
    z-index: 2;
}

.vector2 {
    z-index: 1;
}

.vector3 {
    z-index: 0;
}

.down-arrow {
    position: absolute;
    bottom: 3%;
    right: 5%;
    background: var(--secondary);
    width: 50px;
    height: 50px;
    border-radius: 100% 100% 100% 100%;
    filter: drop-shadow(0px 0px 5px gray);
}

@media (min-width: 768px) {
    .down-arrow {
        bottom: 10%;
        right: 50%;
        transform: translate(50%, 50%);
    }
}

.down-arrow i {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 1.8em;
    color: #fff;
}

