@import "classes.css";

:root {
    /*Fonts*/
    --poppins: 'Poppins', sans-serif;
    --dancing: 'Dancing Script', cursive;
    --oswald: 'Oswald', sans-serif;

    /*Colors*/
    --primary: #ED3855;
    --secondary: #ecf0f1;
    --third:  #4187b9;
    /*#*/

    --fourth: #30425f;
    --green: #39c149;

}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

*:not([class="vector"]) {
    z-index: 4;
}

body {
    font-family: var(--poppins);
}

h2 {
    font-size: 1.8em;
    font-weight: lighter;
    text-align: center;
    padding-top: 1rem;
    opacity: .7;
}

h3, h4 {
    margin: 0;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
    margin-bottom: 1rem;
}


img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-right: unset;
    -webkit-text-fill-color: unset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*HEADER*/
header {
    background: var(--third);
    /*min-height: 8vh;*/
}

header.home {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header.home .bar {
    padding: 1rem 0;
}

.bar {
    position: relative;
    /*background: var(--third);*/
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 50%;*/
    /*transform: translateX(50%);*/
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 10;
}

/*logo*/
.logo-container {
    flex: 90%;
    /* order: -2; */
}

@media (min-width: 768px) {

}

.logo {
    font-family: var(--dancing);
    font-size: 2.5em;
    color: #fff;
    font-weight: normal;
}

.slide-menu {
}

.burger-menu {
    /* flex: 1; */
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.burger-menu i {
    font-size: 1.6em;
    color: var(--secondary);
}

.burger-menu img {
    width: 35px;
}

@media (min-width: 992px) {
    .burger-menu {
        /* display: none; */
    }
}

/*nav*/
nav {
    /* flex: 2; */
    order: 2;
    display: block;
    /* flex-direction: column; */
    /* position: absolute; */

}

@media (min-width: 992px) {
    nav {
        /* display: inline-block; */
        
    }
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: column;
}

@media (min-width: 768px) {
    .nav-links {
        /* flex-direction: row;
        justify-content: space-around; */
    }
}

.nav-link {
    font-weight: bold;
    font-family: var(--poppins);
    position: relative;
    color: var(--secondary);
}

/*cart*/
.toggle-user-logged {
    flex: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 1;
    /* position: absolute; */
    /* display: none; */
}

@media (min-width: 992px) {
    .toggle-user-logged {
        display: flex;
    }
}

.cart {
    position: relative;
    flex: 1;
    margin-right: 2rem;
    position: relative;
}

.cart-icon img {
    max-width: 30px;
}

.cart-quantity {
    background: crimson;
    padding: 0 .4rem;
    border-radius: 100px;
    position: absolute;
    bottom: 50%;
    right: 30%;
    transform: translate(50%, 50%);
}

.shopping-list-preview {
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5rem;
    list-style: none;
    position: absolute;
    width: 25rem;
    top: 2.5rem;
    transform: translateX(-50%);
    background: #f6f6f9;
    transition: .2s;
}

.cart:hover .shopping-list-preview {
    max-height: 30rem;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    border-bottom: 1px solid #e8e8e8;
}

.preview:last-of-type {
    border: none;
}

.preview-img {
    flex: 1;
    margin-right: 1rem;
}

.preview-info {
    flex: 4;
    margin-right: 1rem;
}

.preview-info .order-title {
    margin: 0 0 .2rem 0;
}

.preview-info .order-quantity {
    margin: 0;
}

.preview .order-total p {
    text-align: right;
    margin: 0;
}

.preview-actions {
    flex: 1.5;
    display: flex;
    justify-content: flex-end;
}

.remove-preview {
    cursor: pointer;
    color: var(--primary);
 }

.show-all-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem
}

.show-all {
    padding: .5rem 1rem;
}

.show-all:hover {
    color: var(--third);
    background: transparent;
}

#products-number {
    font-family: var(--poppins);
    font-size: .8em;
    color: #fff;
}

.log-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.greeting {
    color: #fff;
    font-family: var(--poppins);
    margin-right: 0;
}

.btn-login, .btn-logout {
    padding: .5rem;
    display: none;
}

@media (min-width: 768px) {
    .greeting {
        margin-right: 1rem;
    }

    .btn-login, .btn-logout {
        display: inline-block;
    }
}

.btn-logout:hover, .btn-login:hover {
    color: var(--fourth);
    border-color: var(--fourth);
}

.btn-logout i {
    font-size: 1.2em;
}

.btn-login i {
    font-size: 1em;
    padding: 0 .3rem 0 0;
    transform: scaleX(-1);
}


/*landing*/
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

@media (min-width: 768px) {
    .landing {
        flex-direction: row;
    }
}

/*left side*/
.introduction {
    flex-basis: 60%;
    text-align: center;
    margin-bottom: 2rem;
    animation: 1.5s drop;
}

@media (min-width: 768px) {
    .introduction {
        text-align: left;
        margin-bottom: 0;
    }
}

.intro-text h1 {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 1rem;
    background: var(--secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    font-family: var(--poppins);
    font-size: 1em;
    color: #fff;
    margin-bottom: 2rem;
}

@media (min-width: 760px) {
    .intro-text h1 {
        font-size: 3em;
    }

    .intro-text p {
        font-size: 1.2em;
    }
}

.cta .start {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .cta .start{
        margin-right: 1.5rem;
    }
}

.start:hover, .to-login:hover {
    border: 2px solid var(--secondary);
    color: var(--primary);
    background-color: var(--secondary);
}

.cta a i {
    margin-left: .5rem;
}

/*right side*/
.presentation {
    flex-basis: 40%;
}

.cover {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(3px 5px 9px rgb(0, 0, 0, .5));
    animation: to-left 2s ;
    pointer-events: none;
}

@media (min-width: 768px) {
    .cover {
        height: 80vh;
    }
}

/*landing-footer*/
.vector1, .vector2, .vector3 {
    position: absolute;
    width: 100%;
    bottom: 0;
    pointer-events: none;
}

.vector1 {
    z-index: 2;
}

.vector2 {
    z-index: 1;
}

.vector3 {
    z-index: 0;
}

.down-arrow,
.down-arrow::before {
    position: absolute;
    border-radius: 100% 100% 100% 100%;
}

.down-arrow {
    bottom: 3%;
    right: 5%;
    background: var(--primary);
    width: 40px;
    height: 40px;
    animation: jump 2s infinite;
}

.down-arrow::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary);
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    animation: propagation 2s infinite;
}

@media (min-width: 768px) {
    .down-arrow {
        bottom: 5%;
        right: 50%;
        transform: translate(50%, 50%);
    }

    .down-arrow::before {
        bottom: 50%;
        right: 50%;
    }
}

.down-arrow i {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 1.5em;
    color: var(--secondary);
}

/*MAIN*/

.main-container h2 {
    padding: 3rem 0 1rem 0;
}

/*products*/
.products {
    display: grid;
    grid-template-columns: 80%;
    grid-row-gap: 2rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: 25% 25% 25%;
        justify-content: space-between;
    }
}

.product {
    z-index: 3;
    overflow: hidden;
    flex: 0 0 calc(30% - 5rem);
    min-height: 19rem;
}

.product-container {
    position: relative;
    height: 100%;
}

.product-container .product-img {
    padding: 1rem;
}

.product h3 {
    color: #444444;
    text-align: center;
    margin-bottom: .5rem;
}

.product-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-family: var(--oswald);
    color: white;
}

.add-cart img{
    color: white;
    width: 1.3rem;
}

.toggle-icon {
    transition: .3s;
}

.fa-shopping-cart {
    transform: scaleX(-1);
}

.add-cart .fa-shopping-cart {
    font-size: 1.2em;
    color: #fff;
}

.add-cart .fa-check-circle {
    font-size: 1.3em;
    color: #56f35a;
    border-radius: 50px;
}


.product h3, .product img, .product-footer {
    transition: .3s;
}

@media (min-width: 768px) {
    .product:hover h3 {
        opacity: 0;
    }

    .product:hover img {
        transform: scale(1.1);
        cursor: pointer;
    }

    .product:hover .product-footer    {
        transform: translateX(-75%);

    }
}


/*LOGIN  AND  REGISTER*/
.login-container, .register-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .login-container, .register-container{
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }
}

.hero {
    background: url("../img/hero.jpg");
    background-position: center center;
    background-size: cover;
    flex: 1;
    position: relative;
}

.hero::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--third);
    opacity: .9;
}

.hero-text h3 {
    font-size: 3em;
    margin: 0;
}

@media (min-width: 768px) {
    .hero-text h3 {
        font-size: 4em;
        margin: 1rem 0;
    }
}

.hero-text p {
    color: #fff;
    font-size: 1.5em;
    margin: 1rem 0;
}

.have-account p{
    font-size: 1em;
    color: var(--secondary)!important;
}

.have-account p span {
    display: block;
    margin-bottom: .5rem;
}

.have-account a {
    color: #fff;
    text-decoration: underline;
    font-size: .8em;
}

.have-account a:hover {
    text-decoration: none;
}

.hero .vector {
    width: 100%;
    right: -2px;
    left: 0;
}

.hero, #login-form, #register-form {
    display: flex;
    align-items: center;
    justify-content: center;
}


#login-form, #register-form {
    background: var(--secondary);
    flex: 1;
    flex-direction: column;
}

#login-form h4, #register-form h4 {
    font-family: var(--poppins);
    font-size: 2em;
    color: var(--third);
    margin-bottom: 2rem;
    text-align: center;
}

.fields-container {
    display: flex;
    justify-content: center;
    flex: 0 0 60%;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field {
    background: #fff;
    border-radius: 10px;
    padding: .3rem .5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 5px gray;
}

.field i {
    padding: 0 .2rem;
    opacity: .8;
}

.field input {
    font-family: var(--poppins);
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none;
    border-left: 1px solid gray;
    padding: .3rem 0 .3rem .3rem;
}

.btn-submit {
    display: flex;
    justify-content: flex-end;
}

input[type="submit"], button[type="submit"]{
    outline: none;
    cursor: pointer;
    border: 2px solid gray;
    padding: .5rem 1rem;
}

/*MANAGE*/

/*categories*/
.manage-container {
    margin: 4rem auto;

}

@media (min-width: 768px) {
    .manage-container {
        display: flex;
    }
}

.manage section {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.options, .options-details {
    padding: 1rem 0 1rem 2rem;
}

.options {
    flex: 1;
}

@media (min-width: 768px) {
    .options {
        -webkit-box-shadow: 4px 0 6px -6px #222;
        -moz-box-shadow: 4px 0 6px -6px #222;
        box-shadow: 4px 0 6px -6px #222;

    }
}

.options h4 {
    color: var(--green);
    display: flex;
    align-items: center;
}

.options h4::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 22px;
    background: var(--green);
    border-radius: 10px;
    margin-right: .5rem;
}

.options-links {
    list-style: none;
    padding-left: 1.5rem;
}

.option-link {
    text-decoration: none;
    color: var(--fourth);
    display: inline-block;
    margin: .3rem 0;
}


.options-details {
    flex: 6;
}

.options-details section {
    margin-bottom: 3rem;
}

.options-details h4 {
margin-bottom: 2rem;
}

.add-item-form {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .add-item-form {
        margin-bottom: 0;
    }
}

.add-item-form p {
    margin: 0 0 1rem 0;
}

.add-item-form {
    border: 1px solid gray;
    padding: 2rem;
}

.add-item input, .image-field {
    margin-bottom: 1rem;
}

.add-item input[type="text"] {
    width: 100%;
    display: block;
    padding: .5rem;
}

label.choose {
    cursor: pointer;
    padding: .7rem ;
}

.add-item input[type="file"] {
    display: none;
}

.add-item input[type="submit"] {
    background: transparent;
    color: gray;
}

.edit-product-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.edit-product-img img {
    width: 10rem;
    text-align: center;
}

.categories, .products-details {
    order: -1;
    flex: 1;
    list-style: none;
    display: flex;
}

.categories {
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    justify-content: space-between;
}

.products-details {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
}

@media (min-width: 768px) {
    .categories, .products-details {
        list-style: none;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 3rem;
    }
}

.categories li {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .categories li {
        flex: 0 0 calc(33.3% - 2rem);
    }
}

.category {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category img {
        transition: .2s;
}

.category:hover img{
    transform: scale(1.1);
}

.category img {
    display: inline-block;
    margin-bottom: 1rem;
}

.category p {
    font-weight: bold;
    color: var(--fourth);
    margin: 0;
}

/*products*/
.add-product input, .add-product select, .add-product textarea {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    padding: .5rem;
}

.add-product textarea {
    resize: none;
    height: 5rem;
}

.add-product input[type="submit"] {
    display: inline-block;
}

.products-details li {
    flex: 0 0 calc(100%);
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .products-details li {
        flex: 0 0 calc(33.3% - 2rem);
    }
}

@media (min-width: 768px) {
    .products-details li .card {
        position: absolute;
        background: rgba(255, 255, 255, 1);
        color: rgba(0, 0, 0, 0);
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        transition: .2s;
        border: 2px solid rgba(0, 0, 0, 0);
        text-align: center;
    }

    .products-details li:hover .card{
        border: 2px solid rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, 1);
        bottom: 0;
        opacity: 1;
    }
}

.actions a {
    font-size: 1.6em;
    opacity: 0;
    transition: .7s;
}

.edit-product {
    color: var(--third);
    margin-right: 1rem;
}

.products-details li:hover .actions a {
    opacity: 1;
}

.delete-product  {
    color: var(--primary);
}

.product-detail {
    text-align: center;
    color: gray;
}

.product-detail .active {
    color: var(--primary);
}


/*PRODUCTS*/
.products-categories-container {
    margin: 3rem auto;
}

.all-products h2 {
    padding: 0;
    margin-bottom: 2rem;
}

.categories-links {
    padding: 0;
    -webkit-box-shadow: 0 4px 10px -10px #222;
    -moz-box-shadow: 0 4px 10px -10px #222;
    box-shadow: 0 4px 10px -10px #222;
    padding-bottom: 1.2rem;
}

.category-link {
    display: inline-block;
    margin: 0 .5rem .8rem 0;
}

.category-link:last-of-type {
    margin-right: 0;
}

.category-link span {
    font-size: .7em;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: .1rem .8rem;
    border-radius: 50px;
    font-weight: bold;
}

.category-link span.active {
    border: none;
    background: var(--primary);
    color: #fff;
}

/*Product*/
.product-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .product-about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.product-image, .product-info {
    display: flex;
}


.product-image {
    flex: 1.2;
    justify-content: center;
}


.image-container img {
    max-width: 25rem;
}

.product-info {
    flex: 1;
    justify-content: flex-start;
}


.info-container h2 {
    font-weight: bold;
    text-align: left;
}

.product-description {
    font-size: .9em;
    line-height: 1.5;
    opacity: .9;
    margin-bottom: 2rem;
}

.product-price {
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 1.4em;
    color: var(--fourth);
    margin-bottom: 1rem;

}

.offer {
    font-weight: lighter;
    font-size: .8em;
    background: var(--primary);
    border-radius: 50px;
    color: #fff;
    padding: .1rem 1rem;
}

.shopping-info div {
    display: flex;
    align-items: center;
    padding: .5rem 0 1rem 0;
}


#shopping-form label {
    font-size: .8em;
}

#quantity {
    width: 5rem;
    padding: .5rem .2rem .5rem .8rem;
    text-align: center;
    margin-right: 1rem;
    border: none;
    border:2px solid var(--third);
    color: var(--third);
}

.remaining {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--third);
    margin: 0;
}

.remaining span {
    opacity: 1;
}

.product-actions a {
    margin: 0 .5rem 1rem 0;
    padding: .9rem 2rem;
    font-size: 1em;
}

.product-actions a p {
    pointer-events: none;
}

.product-actions a i {
    transition: .2s;
}

.product-actions a:last-of-type {
    margin-right: 0;
}

/*Shopping cart*/
.shopping-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .shopping-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.shopping-list {
    flex: 1.3;
   list-style: none;

}

.order {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 4px 10px -10px #222;
    -moz-box-shadow: 0 4px 10px -10px #222;
    box-shadow: 0 4px 10px -10px #222;
    margin-bottom: 2rem;
}

.order-img {
    flex: .7;
    margin-right: 1rem;
}

.order-info {
    flex: 2;
}

.order-info > p {
    margin: .5rem 0;
}

.order-title {
    font-weight: bold;
}

.order-price {
    font-size: .9em;
    font-weight: bold;
    opacity: .5;
}

.order-quantity {
    font-size: .8em;
    font-weight: bold;
    opacity: .5;
}

.order-quantity span {
    font-weight: bold;
}

.order-total {
    flex: 2;
    text-align: right;
}

.order-total p {
    font-size: 1.2em;
    color: var(--green);
}

.order-total p span {
    color: gray;
    font-size: .9em;
    margin-right: .2rem;
}

.order-actions {
    flex: 1;
    text-align: center;
}

.order-actions a {
    color: var(--primary);
}

.total-cart {
    flex: 1;
    display: flex;
    justify-content: center;
}

.order-pay {
    padding: .5rem 2rem;
    background: #f6f6f9;
    border-radius: 5px;
}

.order-pay p {
    opacity: .8;
    margin-bottom: 2rem;
}

.order-pay p span {

}

.total-articles {
    padding: 0 .1rem;
    font-weight: bold;
}

.total-sum {
    color: var(--green);
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 1rem;
}

.btn-pay {
    width: 100%;
    display: block;
    padding: .9rem 2rem;
    font-size: 1em;
    margin-bottom: 1rem;
}

.btn-pay:disabled {
    display: block;
    opacity: .7;
}



/*keyframes*/
@keyframes to-left {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    50% {
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes drop {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
}

@keyframes up {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    @keyframes jump {
        65% {
            transform: translate(50%, -5%);
        }
    }
}

@keyframes propagation {
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

